{% extends 'base.html' %}

{% block content %}
<!-- Product Card -->
<div class="p-3">
  <div class="card">
    <div class="card-header">Registered Product :</div>
    <div class="card-body">
      {% if not products %}
      <p>Belum ada product pada UMKaMi.</p>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th> 
          </tr>
        </thead>
        <tbody>
          {% for p in products %}
          <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity }}</td>
            <td><a href="{% url 'main:show_xml_by_id' p.id %}">View XML</a>
                <a href="{% url 'main:show_json_by_id' p.id %}">View JSON</a> 
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <br />
      <a href="{% url 'main:create_product' %}">
        <button>Add New Product</button>
      </a>
      <a href="{% url 'main:logout' %}">
        <button>Logout</button>
      </a>
    </div>
  </div>
</div>

<!-- UserName Card -->
<div class="px-3 py-1">
  <div class="card">
    <div class="card-header"><b>User Data :</b></div>
    <div class="card-body">
      <p>Username : <i>{{ name }}</i></p>
      <div
        class="alert alert-warning mt-3"
        role="alert"
      >
        <b>Sesi terakhir login : <i>{{ last_login }}</i></b>
      </div>
    </div>
  </div>
</div>
<!-- END UserName Card -->
<!-- END Product Card -->
{% endblock %}
