{% extends 'base.html' %} {% block content %}

<!-- Name Card -->
<div class="p-3">
  <div class="card">
    <div class="card-header">
      <b><em>{{app}}</em></b> made with ❤️ By :
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ name }}</p>
        <footer class="blockquote-footer">{{ class }} | 2306245775</footer>
      </blockquote>
    </div>
  </div>
</div>
<!-- END Name Card -->

<!-- Product Card -->
<div class="p-3">
  <div class="card">
    <div class="card-header">Registered Product :</div>
    <div class="card-body">
      {% if not products %}
      <p>Belum ada product pada Toko Ungu.</p>
      {% else %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>

        <tbody>
          {% for p in products %}
          <tr>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <br />

      <a href="{% url 'main:create_product' %}">
        <button>Add New Product</button>
      </a>
    </div>
  </div>
</div>
<!-- END Product Card -->

{% endblock content %}
